*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a{
    color: inherit; /*наследовать у родителя*/
    text-decoration: none;
}

body{
    background-color:#ccc;
    font-family: "Helvetica", sans-serif;
    font-size: 20px;
    line-height: 1.3em; /*calc(20px * 1.3); */
    color: #0b0b0b;
}

.pangolin-regular {
    font-family: "Pangolin", cursive;
    font-weight: 400;
    font-style: normal;
}

h1, h2, h3, h4, h5, h6, .h1 {
    line-height: 1.5em;
    font-size: 40px;
}

.wrapper{
    max-width: 900px;
    background-color: #fff;
    margin: 60px auto;
    padding: 20px;
}

.wrapper img{
    /* width: 100%; */
    margin-bottom: 5px;
    margin-left: -20px;
    max-width: 900px;
}

.wrapper p{
    text-indent: 50px;
    margin-bottom: 5px;
    padding: 15px;
}

/* .wrapText p:nth-child(2n){
    background-color: #999;
} */

.wrapText p:nth-child(odd){
    background-color: #5b5656;
    
}